<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="SkypeTeamsServicesCommon" value="https://domoreexp.pkgs.visualstudio.com/_packaging/SkypeTeamsServicesCommon/nuget/v3/index.json" />
  </packageSources>
</configuration>